<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017543164770-gsaubvhlmlsbbvhfgv5erjmctpab6rqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017543164770-gsaubvhlmlsbbvhfgv5erjmctpab6rqo</string>
	<key>API_KEY</key>
	<string>AIzaSyCz1ah60HV2xL4T4-5buHA38pxjfLq5zp4</string>
	<key>GCM_SENDER_ID</key>
	<string>1017543164770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificacaoPush</string>
	<key>PROJECT_ID</key>
	<string>notificao-push-43290</string>
	<key>STORAGE_BUCKET</key>
	<string>notificao-push-43290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017543164770:ios:722f45b3a6609da0a2223b</string>
</dict>
</plist>